save-exact=true
engine-strict=true
always-auth=true

registry=https://registry.npmjs.org/

@spatialmedia:registry=https://npm.pkg.github.com/spatialmedia
//npm.pkg.github.com/:_authToken=${NPM_GITHUB_TOKEN}
